@charset "utf-8";
/* CSS Document */
.title{
	font-size: 60px;
	text-align: center;
	font-family: 黑体;
	margin-top:20px;
	margin-bottom: 20px;
}
.content{
	margin: auto;
	border: 5px solid #3D3D3D;
	width:30%;
	
}
button{
	display: block;
    width: 45px;
    height: 25px;
    border: 2px solid;
    border-radius: 5px;
    margin: auto;
}
button:hover{
	cursor: pointer;
}
