@charset "utf-8";
/* CSS Document */

.title{
	font-size: 60px;
	text-align: center;
	font-family: 黑体;
	margin-top:20px;
	margin-bottom: 20px;
}
.new{
	text-align: center;
	margin: 20px;
	font-size: 30px;
}
.top{
	border-bottom: 5px sold #867878;
	display: flex;
	flex-flow: row nowrap;
}
.tablebody{
    background: #BACFC5;
    text-align: center;
}
.tableword{
	text-align: left;
}
button{
	width: 60px;
	height: auto;
	border:2px solid ;
	border-radius:5px;
	
}
button:hover{
	cursor: pointer;
}